.sub-category-container{
    position: relative;
    overflow: hidden;

    background-image: url("../../assets/images/home/home-gradiant.png");
    background-position: center -500px;

    background-size: cover; /* scales nicely */
    background-repeat: repeat-x;
}