.login-container {
  height: 100vh;
  display: flex;

  // 🧭 Form Section
  .form-section {
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem;

    .form-box {
      width: 75%;
      padding: 2.5rem;
      border: 1px solid transparent;
      border-radius: 15px;

      background-origin: border-box;
      background-clip: content-box, border-box;
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
      position: relative;
      backdrop-filter: blur(8px);

      // Back button
      .back-btn {
        position: absolute;
        top: 20px;
        right: 15px;
        cursor: pointer;
        z-index: 10;

        &.ar {
          left: 20px;
          transform: rotate(180deg);
          //   transform: rotate(0deg);
          right: 90%;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  // 🖼️ Image Section
  .image-section {
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      user-select: none;
    }
  }

  // 📱 Responsive Design
  @media (max-width: 1024px) {
    .form-section .form-box {
      width: 85%;
      padding: 2rem;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;

    .form-section {
      width: 100%;
      justify-content: center;
      padding: 1.5rem;

      .form-box {
        width: 100%;
        padding: 1.5rem;
        border-radius: 10px;
      }
    }

    .image-section {
      width: 100%;
      height: 250px;
      img {
        border-radius: 0;
        object-fit: cover;
      }
    }
  }
}

// 🌟 Login Button
.login-btn {
  background-color: #ffbe3d !important;
  color: #000 !important;
  font-weight: 600 !important;
  text-transform: none !important;
  font-size: 18px !important;
  padding: 10px 0 !important;
  border-radius: 8px !important;
  transition: all 0.3s ease !important;

  &:hover {
    background-color: #e6aa34 !important;
  }
}

// 🧠 Google Button
.google-btn {
  font-weight: 700;
  font-size: 18px;
  border-radius: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #fff;
  padding: 10px 0;
  border: 1px solid #000;
  transition: all 0.3s ease;

  img {
    width: 28px;
    height: 28px;
  }

  &:hover {
    background-color: #f7f7f7;
  }
}

// 📝 Register Text
.register-text {
  color: #333;
  font-size: 16px;
  margin-top: 1rem;

  .register-link {
    color: #ffbe3d;
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;

    &:hover {
      text-decoration: underline;
    }
  }
}
