.signup-container {
  height: 100%;
  margin-top: 90px;
  margin-bottom: 50px;

  .signup-box {
    width: 80%;
    max-width: 900px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    margin-top: 50px;
  }
}

.signup-btn {
  background-color: #ffbe3d !important;
  color: #000 !important;
  font-weight: 600 !important;
  text-transform: none !important;
  font-size: 16px !important;
  padding: 10px 0 !important;
  border-radius: 8px !important;
  width: 80% !important;
  margin-left: 71px !important;
}

.MuiInputBase-root,
.MuiInputBase-root.MuiOutlinedInput-root,
.MuiInputBase-input,
.MuiOutlinedInput-input,
.MuiSelect-select,
input,
select {
  background-color: white !important;
  border-radius: 8px !important;
}

/* ✅ Phone input field */
.phone-input {
  font-size: 16px;
}

.react-tel-input .form-control {
  border-radius: 8px;
  height: 56px;
  background-color: white !important;
}

.MuiIconButton-root {
  background-color: white !important;
  border-radius: 50% !important;
}

.react-tel-input .flag-dropdown {
  border-right: 1px solid black;
}

[dir="rtl"] .signup-btn {
  margin-right: 71px !important;
  margin-left: 0 !important;
}

/* RTL support for text fields */
[dir="rtl"] .MuiInputBase-input,
[dir="rtl"] .MuiOutlinedInput-input,
[dir="rtl"] .MuiSelect-select {
  text-align: right !important;
  direction: rtl !important;
}

[dir="rtl"] .MuiInputLabel-root {
  right: 30px !important;
  left: auto !important;
  transform-origin: top right !important;
}

[dir="rtl"] .MuiOutlinedInput-notchedOutline {
  text-align: right !important;
}

// /* RTL support for phone input */
// [dir="rtl"] .react-tel-input .form-control {
//   text-align: right !important;
//   direction: rtl !important;
// }

[dir="rtl"] .react-tel-input .flag-dropdown {
  //   border-right: none !important;
  //   border-left: 1px solid black !important;
}

/* RTL support for helper text */
[dir="rtl"] .MuiFormHelperText-root {
  text-align: right !important;
}

/* RTL support for select dropdown icon */
[dir="rtl"] .MuiSvgIcon-root.MuiSelect-icon {
  right: 220px;
  //   left: auto !important;
}
