.footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1.2fr 1.4fr;
  align-items: start;
  justify-content: center;
  padding: 40px 60px;
  gap: 40px;
  color: #fff;
  box-sizing: border-box;

  &.none{
    display: none;
  }

  @media (max-width: 992px) {
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 30px;
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    padding: 30px 20px;
  }
}

/* Logo section */
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 180px;
    height: auto;
  }
}

/* General section style */
.footer-section {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .title {
    color: #ffc144;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.2s;

    &:hover {
      color: #ffc144;
    }
  }
}

/* Divider between columns */
.with-divider {
  position: relative;
  padding-left: 25px;
  min-height: 185px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5%;
    height: 90%;
    width: 2px;
    background-color: #ffc144;
  }

   // when the page direction is RTL → move divider to right
  [dir="rtl"] & {
    padding-left: 0;
    padding-right: 25px;

    &::before {
      left: auto;
      right: 0;
    }
  }

  @media (max-width: 992px) {
    padding: 0;
    &::before {
      display: none;
    }
  }
}

/* Social items */
.social-item {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    width: 24px;
    height: 24px;
  }

  span {
    font-size: 18px;
    color: #fff;
  }

  @media (max-width: 992px) {
    justify-content: center;
  }
}

/* Support section */
.support-item {
  display: flex;
  align-items: center;
  gap: 10px;

  img {
    width: 28px;
    height: 28px;
    background: #ffc144;
    border-radius: 50%;
    padding: 4px;
  }

  span {
    font-size: 18px;
  }

  @media (max-width: 992px) {
    justify-content: center;
  }
}

.support-text {
  font-size: 16px;
  color: #fff;
  margin-top: 10px;
  line-height: 1.4;
  @media (max-width: 992px) {
    text-align: center;
  }
}
