.line-section {
  width: 100%;
  height: 32px;
  background: url("../../../assets/images/home//bottomline.png") repeat center;
  background-color: #ffbe3b;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 25px;
  }
}
