.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  // background: url("./assets/images/home/newbg.jpg") center center;
  background-color: rgb(237, 237, 237);
  background-size: cover;
  min-height: 100vh;
}

@media (max-width : 1100px){
  .body{
    gap: 40px;
  }
}