.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 185px;
  position: relative;
  overflow: hidden;
  // background: url("./assets/images/home/newbg.png") center center;
  background-size: cover;

 
}
