.library-details-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);

    .library-details-content{
        grid-column: 2/ span 7;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        justify-content: center;
        width: 100%;
        padding: 0 24px;
        margin-bottom: 50px;
    }

    .sidebar-wrapper{
        grid-column: 9 / span 3;
    }
}


